
@font-face{
font-family: 'Kuro-regular';
src:url(kuro-regular.ttf) format('truetype');
}
* {
 margin: 0;
 padding: 0;
 font-family: 'Kuro-regular', Fallback, sans-serif;
 outline: none;
}

body {
 background-image: url("images/christmas.jpg"); 
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

option {
    height: 15%;
}

#mainarea {
 width: 400px;
 height: 600px;
 top: 20%;
 left: 20%;
 background: #ffffff;
 position: absolute;
 overflow: hidden;
 border-radius: 2px;
}

#topnav {
    height: 60px;
    width: inherit;
    background: #007171;
    padding-top: 10px;
    padding-left: 10px; 
}

#topnavcontent {
    padding-left: 10px;
}

#searchbar {
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999;
}

#maincontent {
    
}

#navbuttonsdiv {
    height: 35px;
    background: #007171;
    box-shadow: 0px 5px 8px #bdbdbd;
}

.navtext {
    color: #ffffff;
    font-size: 25px;
}

.searchinput {
    color: #e0e0e0;
    font-size: 16px;
    width: 300;
    border: none;
}

.searchinput:focus {
    color: #444444; 
}

.navbutton {
    float: left;
    width: 33.3%;
    height: inherit;
    background: #007171;
    border: none;
    color: #B2D8D8;
    text-align: center;
    vertical-align: middle;
}

.navbutton:focus {
    border-bottom: solid;
    border-width: 2px;
    border-bottom-color: #ffffff;
    color: #ffffff;
}

.list {
    width: 400px;
    height: 464px;
    border: none;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
















