
@font-face{
font-family: 'Kuro-regular';
src:url(kuro-regular.ttf) format('truetype');
}
* {
 margin: 0;
 padding: 0;
 font-family: 'Kuro-regular', Fallback, sans-serif;
 outline: none;
}

body {
 background-image: url("images/christmas.jpg"); 
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

li {
    text-align: left;
    padding: 10px;
}

.face {
    align-content: center;
    padding-right: 20px;
}

option {
    height: 15%;
}

input{
    border: none;
}

#mainarea {
 width: 400px;
 height: 600px;
 top: 20%;
 left: 20%;
 background: #ffffff;
 position: absolute;
 overflow: hidden;
 border-radius: 2px;

    box-shadow: 5px 10px 1  w8px #222222;
}

#topnav {
    height: 50px;
    width: inherit;
    background: #007171;
    padding-top: 10px;
    padding-left: 10px; 
}

#topnavcontent {
    padding-left: 20px;
}

#searchbar {
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999;
}

#maincontent {
    height: 400px;
}

#navbuttonsdiv {
    height: 35px;
    background: #007171;
    box-shadow: 0px 5px 8px #bdbdbd;
}

.navtext {
    color: #ffffff;
    font-size: 25px;
}

.searchinput {
    color: #e0e0e0;
    font-size: 16px;
    width: 360px;
    border: none;
}

.searchinput:focus {
    color: #444444; 
}

.navbutton {
    float: left;
    width: 33.3%;
    height: inherit;
    background: #007171;
    border: none;
    color: #B2D8D8;
    text-align: center;
    vertical-align: middle;
}

.list {
    width: 400px;
    height: 464px;
    border: none;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.whitetext{
    color: #fff;
}


#receive, #sendifo_form{
    display: none;
    background: #007171;
    height: inherit;
}
#empty_list{
    //display: none;
    margin: 10px;
    
}
.center_element img, .center_element p{
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.message{
    background-color: #fff;
    padding: 5px;
    margin-top: 160px;
}

#address_form{
    border-radius: 25px;
    background: #fff;
    margin: 10px;
}

#address_form p{
    padding: 10px;
}

#preview, #gift_sent{
    display: none;
    background: #007171;
    height: inherit;
    margin: auto;
}

#preview_content{
    padding: 10px;
    margin-left:35px;
    margin-right:35px;
    background: #fff;
}


#send_button, #scan_button, #giftOK, #upload_image{

    border-radius: 25px;
    color: #007171;
    margin:20px;
    margin-left: 135px;
    background-color: #fff;
    width: 10em;
    height: 2em;
}

#topnav_button_right {
    float: right;
    padding-right: 30px;
    font-size: 30px;
}

#history_list li{
    padding: 10px;
}
#history{
    display: none;
    margin:10px;
}
#message_arrow{
    float: right;
    padding-right: 20px;
}

#giftText{
    color: #fff;
    display:none;
    text-align: center;
}

#scan_feedback{
    background-color: #fff;
    margin: 10px;
    padding: 10px;
}


#imageSrc1 {
    max-height: 150px;
    width: 200px;
    padding-left:  53px;
    
}

#scan_feedback_box {
    background-color: #007171;
}

#scan_feedback {
    background-color: #007171;
    color: #fff;
}

li, #topnav_button_left, #topnav_button_right{
    cursor: pointer;
}


















